.row-catalog {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.card-catalog {
    width: 100px;
    border-radius: 8px;
    margin: 4px;
    flex: 0 1 calc(20% - 8px);
    border: 1px solid #9b9b9b;
    -moz-box-shadow: inset 0.5px 0.5px 0.5px 0px #9b9b9b;
    -webkit-box-shadow:inset 0.5px 0.5px 0.5px 0px #9b9b9b;
    box-shadow:inset 0.5px 0.5px 0.5px 0px #9b9b9b;
}

.card-catalog-title {
    font-size: 20px;
}

.card-catalog-price {
    color: #dd3022;

}

@media (max-width: 767.98px) {
    .row-catalog {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        position: relative;
    }
    
    .card-catalog {
        width: 100px;
        border-radius: 8px;
        margin: 4px;
        flex: 0 1 calc(50% - 8px);
        border: 1px solid #9b9b9b;
        -moz-box-shadow: inset 0.5px 0.5px 0.5px 0px #9b9b9b;
        -webkit-box-shadow:inset 0.5px 0.5px 0.5px 0px #9b9b9b;
        box-shadow:inset 0.5px 0.5px 0.5px 0px #9b9b9b;
    }
    
    .card-catalog-title {
        font-size: 20px;
    }
    
    .card-catalog-price {
        color: #dd3022;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .row-catalog {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        position: relative;
    }
    
    .card-catalog {
        width: 100px;
        border-radius: 8px;
        margin: 4px;
        flex: 0 1 calc(33.3% - 8px);
        border: 1px solid #9b9b9b;
        -moz-box-shadow: inset 0.5px 0.5px 0.5px 0px #9b9b9b;
        -webkit-box-shadow:inset 0.5px 0.5px 0.5px 0px #9b9b9b;
        box-shadow:inset 0.5px 0.5px 0.5px 0px #9b9b9b;
    }
    
    .card-catalog-title {
        font-size: 20px;
    }
    
    .card-catalog-price {
        color: #dd3022;
    }
}